# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

code/build/*
!code/build/do_cmake_openMP.sh
!code/build/do_cmake_*.sh
/build
code/.vscode/
debug_build/
.vscode/settings.json
code/cmake/.Rhistory

code/builds/*
!code/builds/test.yaml

!code/builds/openMP
code/builds/openMP/*
!code/builds/openMP/do_cmake_openMP.sh 

!code/builds/qbig_ampere/
code/builds/qbig_ampere/*
!code/builds/qbig_ampere/do_cmake_A100.sh

!code/builds/qbig_kepler/
code/builds/qbig_kepler/*
!code/builds/qbig_kepler/load_modules_qbig_kepler.sh
!code/builds/qbig_kepler/do_cmake_kepler.sh
!code/builds/qbig_kepler/scr.sh