# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

code/build/*
code/build*
!code/build/do_cmake_openMP.sh
!code/build/do_cmake_*.sh
/build
code/.vscode/
debug_build/
.vscode/settings.json
code/cmake/.Rhistory
